<mat-card class="example-card" appearance="outlined" [ngClass]="{ 'hovered': isHovered }"   >
  
  <div (click)="onSeeMore()">
    <mat-card-header class="matcard-header">
      <mat-card-title>
        {{ hub.name }} 
      </mat-card-title>
    </mat-card-header>
    
    
    <img mat-card-image [src]="hub.image" alt="Card image" />
    
    <mat-card-content class="content">
      <p>
        {{ showFullDescription ? hub.description : getShortDescription(hub.description) }}
        <span *ngIf="hub.description.split(' ').length > 10 && !showFullDescription" class="read-more">
          
          <a mat-button *ngIf="hub.description.split(' ').length > 10" (click)="toggleDescription()">
            ...
          </a>
        
        </span>
      </p>
      <p>Status: {{hub.status.name}} </p>
    </mat-card-content>
  </div>

  <mat-card-actions class="buttons-group">
    <button mat-button style="background-color: #F39C12 ; color: #ffffff; margin-right: 5px; font-size: 10px"(click)="onEdit()">Edit</button>
    <button mat-button color="warn" style="background-color: #E74C3C ; color: #ffffff; font-size: 10px"(click)="onDelete()">Delete</button>
  </mat-card-actions>


</mat-card>
