.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  .cards-wrapper-parent {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    overflow-x: auto;

    .card-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    app-card {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 1600px) {
  .card-container {
    width: 100%;
    .cards-wrapper {
      grid-template-columns: repeat(3, 1fr);
      
    }
  }
}



.edit-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.save-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.save-button:hover {
  background: #0056b3;
}

.close-button {
  background: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover {
  background: #d32f2f;
}
